<div id="bookListWrapper">
	<form role="form">
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="Search here..."
			ng-model="searchStr">
	  </div>
	</form>
	<ul class="list-unstyled">
		<li class="book" ng-repeat="book in books | filter:searchStr"
			style="background: white url('static/imgs/{{book.imgUrl}}') no-repeat">
			<div class="book-details clearfix">
				<h3>{{book.name}}</h3>
				<p>{{book.price | currency:'Rs.'}}</p>
				<p>Detail:</p>
				<p>Detail:</p>
				<ul class="list-unstyled list-inline">
					<li>Rating: {{book.rating}}</li>
					<li>Binding: {{book.binding | uppercase}}</li>
					<li>Publisher: {{book.publisher}}</li>
					<li>Released: {{book.releaseDate}}</li>
				</ul>
				<p>{{book.details}}</p>
				<button class="btn btn-info pull-right" ng-click="addToKart(book)">Add to Kart</button>
			</div>
		</li>
	</ul>
</div>
