<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Welcome to BooKart</title>
           <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>

        <div id="headerWrapper" ng-controller="HeaderCtrl">
            <span class="logo pull-left">{{appDetails.title}}</span>
            <span class="tagline pull-left">{{appDetails.tagline}}</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li ng-class="{active: nav.isActive('/books')}"><a ui-sref="StateMenuBooks">Books</a></li>
                    <li ng-class="{active: nav.isActive('/kart')}"><a ui-sref="StateMenuKart">Kart</a></li>
                </ul>
            </div>
        </div>

		<div ui-view class="container"></div>

		 <script src="/node_modules/angular/angular.min.js"></script>
		<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
		  <script src="/node_modules/angular-animate/angular-animate.js"></script>
        <script src="/static/js/app.js"></script>

    </body>
</html>
