<!doctype html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>Welcome to BooKart</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/app.css">
        <script src="/node_modules/angular/angular.js"></script>
        <script src="/node_modules/angular-route/angular-route.js"></script>
        <script src="static/js/app.js"></script>
    </head>
    <body>
        
        <div id="headerWrapper" ng-controller="HeaderCtrl">
            <span class="logo pull-left">{{appDetails.title}}</span>
            <span class="tagline pull-left">{{appDetails.tagline}}</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#/books">Books</a></li>
                    <li><a href="#/kart">Kart</a></li>
                </ul>
            </div>
        </div>
		
		<div ng-view></div>
		
    </body>
</html>